<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignore actual files and folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # login
    RewriteRule ^login/?$ login.php [QSA,L]

    # users
    RewriteRule ^users/([0-9]+)/?$ users.php?id=$1 [QSA,L]
    RewriteRule ^users/?$ users.php [QSA,L]

    # projects
    RewriteRule ^projects/([0-9]+)/?$ projects.php?id=$1 [QSA,L]
    RewriteRule ^projects/?$ projects.php [QSA,L]

    # robots
    RewriteRule ^robots/([0-9]+)/?$ robots.php?id=$1 [QSA,L]
    RewriteRule ^robots/?$ robots.php [QSA,L]

    # buttons
    RewriteRule ^buttons/([0-9]+)/?$ buttons.php?id=$1 [QSA,L]
    RewriteRule ^buttons/?$ buttons.php [QSA,L]

    # notifications
    RewriteRule ^notifications/([0-9]+)/?$ notifications.php?id=$1 [QSA,L]
    RewriteRule ^notifications/?$ notifications.php [QSA,L]

    # logs
    RewriteRule ^logs/([0-9]+)/?$ logs.php?id=$1 [QSA,L]
    RewriteRule ^logs/?$ logs.php [QSA,L]

    # sendEmail
    RewriteRule ^sendEmail/?$ sendEmail.php [QSA,L]

    # swagger
    RewriteRule ^swagger\.json$ swagger.json [QSA,L]

</IfModule>
